

* {
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 50px;
    padding: 30px;
    background-color: #00b2ff;
    line-height: 0.5px;
    color: white;
    border-radius: 10px;
}

button:active {
    background-color: #026c9c;
}